<template>
 <!-- App.vue -->

<v-app>

  <!-- <v-snackbar
    v-model="snackbarStatus"
    color="success"
    button
    timeout="2000"
    multi-line
    outlined
  >
    {{ snackbarText }}

    <template v-slot:action="{ attrs }">
      <v-btn
        color="pink"
        text
        v-bind="attrs"
        @click="snackbarStatus = false"
      >
      Close
      </v-btn>
    </template>
  </v-snackbar> -->

<alert/>
  <v-navigation-drawer app v-model="drawer">
    <!-- -->
    <v-list>
      <v-list-item v-if="!guest">
        <v-list-item-avatar>
          <v-img src="https://randomuser.me/api/portraits/med/men/75.jpg"></v-img>
        </v-list-item-avatar>
        <v-list-item-content>
          <v-list-item-title>Pratama Adi Ciptawan</v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <div class="pa-2" v-if="guest">
        <v-btn block color="primary" class="mb-1" @click="login">
          <v-icon left>mdi-lock</v-icon>
          Login
        </v-btn>
        <v-btn block color="success">
          <v-icon left>mdi-account</v-icon>
          Register
        </v-btn>
      </div>

      <v-divider>

      </v-divider>

      <v-container fluid>
        <v-form ref="form">
          <v-text-field
            v-model="email"
            label="E-mail"
            required
            append-icon="mdi-email"
          >
          </v-text-field>
          <v-text-field
            v-model="password"
            :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
            :type="showPassword ? 'text' : 'password'"
            label="Password"
            counter
            @click:append="showPassword = !showPassword"
          >

          </v-text-field>

          <div class="text-xs-center">
            <v-btn
              color="success lighten-1"
              @click="submit"
            >
              Login
              <v-icon right dark>mdi-lock-open</v-icon>
            </v-btn>
          </div>
        </v-form>
      </v-container>

      <v-list-item
        v-for="(item, index) in menus"
        :key="`menu-`+index"
        :to="item.route"
      >
      <v-list-item-icon>
        <v-icon left>{{ item.icon }}</v-icon>
      </v-list-item-icon>

      <v-list-item-content>
        <v-list-item-title>{{ item.title }}</v-list-item-title>
      </v-list-item-content>

      </v-list-item>
    </v-list>

    <template v-slot:append v-if="!guest">
      <div class="pa-2">
        <v-btn block color="red" dark @click="logout" >
          <v-icon left>mdi-lock</v-icon>
          Logout

        </v-btn>
      </div>
    </template>

  </v-navigation-drawer>

  <v-app-bar app color="warning" dark>
    <!-- -->
    <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
    <v-toolbar-title>Pratama Adi Ciptawan App</v-toolbar-title>

    <v-spacer></v-spacer>
  </v-app-bar>

  <!-- Sizes your content based upon application components -->
  <v-main>

    <!-- Provides the application the proper gutter -->
    <v-container fluid>

      <!-- If using vue-router -->
      <router-view></router-view>
    </v-container>
  </v-main>

  <v-footer app>
    <!-- -->@pratama | Vue Js
  </v-footer>
</v-app>
</template>

<script>
import { mapActions } from 'vuex';
// import Alert from '';

export default {
  name: 'App',
  components: { 
    Alert : () => import('./components/Alert.vue')
    },

  data: () => ({
    drawer : false,
    menus : [
      { title : 'Home', icon : 'mdi-home', route : '/'},
      { title : 'Blogs', icon : 'mdi-note', route : '/blogs'},
    ],
    guest : false,

    // snackbarStatus : false,
    // snackbarText : "Anda berhasil Login",
  }),

  methods : {
    logout(){
      this.guest = true
      this.setAlert({
        status: true,
        color: "seccess",
        text: "Anda berhasil logout",
      })
    },

    login(){
      this.setDialogComponent({'component' : 'login'})
    },

    ...mapActions({
      setAlert : 'alert/set',
      setDialogComponent : 'dialog/setComponent'
    })
  },

  // mounted(){
  //   this.snackbarStatus = true
  // },
};
</script>
