<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
</head>
<body>
  <div class="container mt-2">
    <div id="app">
      <button onclick="vm.openForm()" class="btn btn-primary mb-3">Open Form</button>
      <h1>{{ 'Nilai a : ' + a }}</h1>
      <h1>{{ 'Rata rata : ' + rata_rata }}</h1>

    </div>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data: {
        a : 0,
      },
      methods : {
        openForm : function(){
          this.a = prompt("Masukkan nilai a");
        }
      }
  })
  </script>
  
</body>
</html>