<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <style>
      body {
        margin: 5%;
        font-family: 'Lato', serif;
      }
    </style>
  <title>Document</title>
</head>
<body>
  
  <div class="container">
    <div id="app">
      
        <input type="text" v-model="cari" placeholder="cari berdasarkan nama">
        <ul v-for="knd in filterkendaraan">
          <li>Mata Kuliah: {{ knd.Matkul }}</li>
        </ul>
      
     
      
    </div>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <script>
    
    const vm = new Vue({
      el: '#app',
      data: {
      // string, number, boolean, array, object
        name : "Pratama Adi Ciptawan",
        checkedNames: [],
        cari: "",
        books: [
          {Matkul: 'Kalkulus Dasar'},
          {Matkul: 'Fisika Dasar'},
          {Matkul: 'Aljabar Linier Elementor'},
          {Matkul: 'Aljabar Abstrak'},
          {Matkul: 'Algoritma Pemograman'},
          
        ]
    },
    
      methods: {
        

      },
      computed: {
        filterkendaraan: function(){
          return this.books.filter((knd)=>{
            return knd.Matkul.match(this.cari)
          });
        }
        
      }

    });
  </script>
</body>
</html>