<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <style>
      body {
        margin: 5%;
        font-family: 'Lato', serif;
      }
    </style>
  <title>Tugas 7 Ajax</title>
</head>
<body>
<div class="container" id="app">
  <h1>Hai Members</h1>
  <form @submit.prevent="submitForm()">
    <p v-if="errors.length">
      <b>Please correct the following errors : </b>
      <ul>
        <li v-for="error in errors">{{ error }}</li>
      </ul>
    </p>
    <div class="form-group">
      <label >Nama: </label>
      <input type="text" name="name" ref="name" v-model="name" class="form-control" id="name" >
    </div>
    <div class="form-group">
      <label >Alamat: </label>
      <textarea ref="address" name="address" class="form-control " id="address" placeholder="isi alamat Anda" required v-model="address" ></textarea>
      <input type="submit" value="Submit" class="btn btn-primary mt-2">
    </div>

  </form>
  <br><br>

  <table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Gambar</th>
      <th scope="col">Nama Members</th>
      <th scope="col">Aksi</th>
    </tr>
  </thead>
  <tbody>
    <tr v-for = "member of members">
      <th scope="row">1</th>
      <td><img width="100" src="member.photo_profile ? photoProfile + member.photo_profile :  https://dummyimage.com/100x80/" alt=""></td>
      <td>
        <b>Nama: </b> {{ member.name }} <br>
        <b>Alamat: </b> {{ member.address }}
      </td>
      <td>
        <button class="btn btn-primary btn-sm">Edit</button>
        <button class="btn btn-primary btn-sm" @click="removeMember(member.id)">Hapus</button>
        <button class="btn btn-primary btn-sm">Upload Foto</button>
      </td>
    </tr>
    
  </tbody>
</table>
</div>



  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <script>
    let vm = new Vue({
      el: '#app',
      data: {
        name: '',
        address: '',
        no_hp: '',
        errors: [],
        members: [],
        photoProfile : `http://demo-api-vue.sanbercloud.com/api/member`
      },
      methods: {
        validationForm : function(){
          this.errors = []

          if(this.name.length < 5){
            this.errors.push('Nama minimal 5 karakter')
            this.$refs.name.focus()
          }

          if (this.address.length > 50){
            this.errors.push('Description tidak boleh lebih dari 10 karakter ')
            this.$refs.address.focus()
          }

          
        },

        clearForm : function(){
          this.name = '',
          this.address = ''
        },

        submitForm : function(){

          this.validationForm()

          if(this.errors.length === 0){

            let formData = new FormData()
            formData.append('name', this.name)
            formData.append('address', this.address)

            const config = {
                method : "post",
                url : `http://demo-api-vue.sanbercloud.com/api/member`,
                data: formData,
      
              }  
      
              axios(config)
              .then( (response) => {
                // handle success
                this.clearForm()
                this.getMembers()
                alert(response.data.message)
              })
              .catch( (error) => {
                // handle error
              })

                alert('Terima kasih Anda telah mengisi data dengan benar')
              }
            },
        
        getMembers : function(){
  
          const config = {
            method : "get",
            url : `http://demo-api-vue.sanbercloud.com/api/member`
  
          }  
  
          axios(config)
          .then( (response) => {
            // handle success
            this.members = response.data.members;
          })
          .catch( (error) => {
            // handle error
          })
        },
        removeMember : function(id){

         const config = {
            method : "post",
            url : `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
            params : { _method : "DELETE"}
  
          } 

          axios(config)
          .then( (response) => {
            // handle success
            this.getMembers()
            alert(response.data.message)
          })
          .catch( (error) => {
            // handle error
            console.log(error);
          })
          
        },

        created(){
          this.getMembers();
        }
      },
      
    });

  </script>
</body>
</html>